@media only screen and (max-width : 800px)
{
    .sm{
        font-size: 0.5rem;
    }
    
    .md{
        font-size: 1rem;
    }
    
    .lg{
        font-size: 1.5rem;
    }
    
    .xl{
        font-size: 2.5rem;
    }
    /* ul li  */
    .flex-container
    {
        display: none;
        flex-direction: column;
       
    }

    .logo
    {
        display: flex;
        margin-top: 5%;
        /* margin-left: 35%; */
        /* justify-items: flex-end; */
        /* align-items: center; */
    }

    .menu-button
    {
        margin: 3%;
        width: 32px;
        height: 32px;
        display: block;
        background-image: url('static/menu.png');
        /* opacity: 0; */
        /* background-image: url("Images/tick-sm.png"); */
        /* background-size: 90%; */
        /* background-position: right center; */
        background-repeat: no-repeat;
        
    }
}