@media only screen and (max-width: 977px) {
    .sm {
        font-size: 0.5rem;
    }
    .md {
        font-size: 1rem;
    }
    .lg {
        font-size: 1.5rem;
    }
    .xl {
        font-size: 2.5rem;
    }
    .flex-container {
        display: flex;
        flex-direction: column;
        min-width: 60%;
        width: auto;
        background-color: var(--page-back);
    }
    .flex-container li {
        width: 100%;
        display: none;
    }
    nav {
        background-color: transparent;
    }
    .menu-button {
        margin: 15px;
        width: 50%;
        height: 50%;
        position: fixed;
        right: 0;
        top: 0;
    }
    nav ul li ul {
        /* display: none; */
        /* border: 1px white solid; */
        position: absolute;
        top: 68px;
        left: 140px;
        /* width: inherit; */
        /* width: 13%; */
    }
}